#grid {
  display: grid;
  grid-template-columns: 120px 1fr;
}
.b {
  color: gray;
}
.c {
  color:red;
  text-decoration:underline;
  font-weight:bold;
}
.g {
  border-left: 1px solid gray;
  padding-left: 20px
}
body {
  margin: 0
}
h1 {
  font-size: 35px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}
h2 {
  color:brown;
}
ul {
  padding: 20px;
  margin: 0;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
@media (max-width:480px) {
  #grid {
    display: block;
    text-align: center;
  }
  .g {
    display: block;
    padding-right: 20px;
    border-top: 1px solid gray;
    border-left: 0px;
  }
  .b {
    color: gray;
  }
  .c {
    color:red;
    text-decoration:underline;
    font-weight:bold;
  }
  body {
    margin: 0
  }
  h1 {
    font-size: 35px;
    text-align: center;
    border-bottom: 3px double gray;
    margin: 0;
    padding: 20px;
  }
  h2 {
    color:brown;
  }
  ul {
    padding: 20px;
    margin: 0;
    list-style: none;
    display: inline-flex;
}
  a {
  color: black;
  text-decoration: none;
}
li {
  padding-right: 20px;
  text-align: center;
}
img {
  width: 100%
}
