#grid {
  display: grid;
  grid-template-columns: 120px 1fr;
}
.b {
  color: gray;
}
.c {
  color:red;
  text-decoration:underline;
  font-weight:bold;
}
.g {
  border-left: 1px solid gray;
  padding-left: 20px
}
body {
  margin: 0
}
h1 {
  font-size: 35px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}
h2 {
  color:brown;
}
ul {
  padding: 20px;
  margin: 0;
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
@media (max-width:981px) {
  #grid {
    display: block;
    text-align: center;
  }
  .g {
    display: block;
    padding-right: 20px;
    border: 0px;
  }
  .b,.v {
    background-color: gray;
    display: inline-block;
    color: #ffffff;
    width: 200px;
  }
  .c {
    background-color: red;
    text-decoration: none;
    font-weight:bold;
    display: inline-block;
    color: #ffffff;
    width: 200px;
  }
  body {
    margin: 0
  }
  h1 {
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding: 30px;
    border-bottom: 0px;

  }
  h2 {
    color:brown;
    font-size: 65px;
  }
  h3 {
    font-size: 50px;
  }
  dl, p, ol {
    font-size: 45px;
  }
  ol {
    margin: 10px;
  }
  ul {
    padding: 20px;
    margin: 0;
    list-style: none;
    display: inline-flex;
    font-size: 70px
  }
  a {
  color: black;
  text-decoration: none;
  }
li {
  padding: 20px;
  text-align: center;
  }
}
